<h1>Edit Employee</h1>

<%= render "form", employee: @employee %>

<div style="margin-top: 1rem;">
  <%= link_to "Show", @employee, style: "color: #007bff; margin-right: 1rem;" %>
  <%= link_to "Back", employees_path, style: "color: #007bff;" %>
</div>
