<h1>Edit Department</h1>

<%= render "form", department: @department %>

<div style="margin-top: 1rem;">
  <%= link_to "Show", @department, style: "color: #007bff; margin-right: 1rem;" %>
  <%= link_to "Back", departments_path, style: "color: #007bff;" %>
</div>
